
.container {
  height: 100vh;
  min-width: 992px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.container  section{
  display: flex;
  grid-template-columns: 246px 1fr;
  gap: 1rem;
  align-content: center;
}

.appContainer {
  background-color: #94BBE9;
}

.profileBox {
  width: 246px;
  background-color: #ebebeb7b;
  border-radius: 10px;
}

.statusBox {
  /* width: 600; */
  width: 700px;
  background-color: #ebebeb7b;
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
}

.statusBox main {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 12px 0;
}