
.expBarContainer header {
  background-color: #ebebeb7b;
  width: 100%;
  padding: 12px;
  
  border-radius: 10px 10px 0 0;
}

/* // exp-bar */
.expBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
}

.expBar span {
  font-size: 1rem;
}

.expBar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: rgb(147, 147, 147);
  margin: 0 1.5rem;
  position: relative;
}

.expBar > div > div {
  background: #4C73FF;
  border-radius: 4px;
  height: 4px;
}

span.currentBar {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}