.profileContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profileContainer header {
  text-align: left;
  
  background-color: #ebebeb7b;
  width: 100%;
  padding: 12px;
  
  border-radius: 10px 10px 0 0;
}

.profileContainer > img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 53%;
  margin: 12px;
}

.profileContainer div strong {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title);
}

.profileContainer div p {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin: 12px 0;
}
.profileContainer div p img {
  margin-right: 0.5rem;
}

.profileText {
  text-align: center;
  margin-bottom: 24px;
}

.challenges {
  margin: 24px 0;
}